* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b1220;
  color: white;
  margin: 0;
}

/* HEADER */
.header {
  background: #020617;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  font-size: 26px;
  cursor: pointer;
}

/* MENU */
.menu {
  background: #020617;
  padding: 10px 15px;
}

.menu a {
  display: block;
  color: #00f5ff;
  text-decoration: none;
  padding: 8px 0;
}

.hidden {
  display: none;
}

/* KALKULATOR */
.calc-container {
  max-width: 320px;
  margin: 30px auto;
  background: #020617;
  padding: 15px;
  border-radius: 16px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 26px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
  background: black;
  color: #00f5ff;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calc-grid button {
  padding: 18px;
  font-size: 18px;
  border-radius: 50%;
  border: none;
  background: #1e293b;
  color: white;
}

.calc-grid button:active {
  opacity: 0.7;
}

.op {
  background: #0ea5e9;
}

.equal {
  background: #22c55e;
  grid-row: span 2;
  border-radius: 14px;
}

.zero {
  grid-column: span 2;
  border-radius: 30px;
}