*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* INTRO */
#intro{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:999;
  animation:fadeOut 3s forwards;
}

@keyframes fadeOut{
  0%{opacity:1}
  80%{opacity:1}
  100%{opacity:0;visibility:hidden}
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:#020617;
}

.menu{
  cursor:pointer;
  font-size:24px;
}

/* SIDEBAR */
#sidebar{
  position:fixed;
  left:-200px;
  top:0;
  width:200px;
  height:100%;
  background:#020617;
  padding-top:60px;
  transition:0.3s;
}

#sidebar a{
  display:block;
  padding:15px;
  color:white;
  text-decoration:none;
}

/* SECTION */
section{
  padding:30px;
}

#clock{
  margin-top:20px;
  font-size:22px;
  color:cyan;
}

/* BUTTON */
button{
  margin-top:15px;
  padding:10px 15px;
  background:cyan;
  border:none;
  cursor:pointer;
}

#hasil{
  margin-top:20px;
  padding:15px;
  background:#020617;
}