* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0b1220;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #0f172a;
}

#menuBtn {
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

nav {
  background: #020617;
  padding: 10px;
}

nav a {
  display: block;
  color: cyan;
  text-decoration: none;
  padding: 8px 0;
}

.hidden {
  display: none;
}

.card {
  background: #020617;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}

.jam {
  font-size: 22px;
  color: cyan;
  margin-top: 10px;
}

button {
  background: cyan;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.faktaBox {
  margin-top: 10px;
  padding: 10px;
  background: #0f172a;
  border-radius: 5px;
}